* {
    margin: 0;
    padding: 0;
}

.sectionOne {
    background-image: url(../img/main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper__header, .wrapper_sectionTwo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    width: 95.5%;
    margin: 30px auto 0;
}

.wrapper_sectionTwo {
    width: 95.5%;
}

.menu, .menuTwo, .menuThree {
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.menu a:last-child {
    z-index: 1;
}

.wrapBorderAlls {
    border: 4px solid #fff;
    height: 91%;
    width: 94.5%;
    margin: 40px auto;
}

.activeBorder:before {
    content: 'Главная';
    font-family: 'Ubuntu-Medium';
    position: absolute;
    color: #fff;
    top: -18px;
    transform: translate(-50%);
    left: 50%;
}a {cursor: pointer;}

hr {
    width: 70px;
    border: none;
    height: 3px;
    background: #898989;
    margin: 7px 0;
    transition: .5s;
}

a:hover hr{
    width: 150px;
}

.hederCaption {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}

.hederCaption :first-child {
    font-family: 'AireRomanPro';
    font-size: 8.5em;
    color: #000;
    opacity: .6;
    letter-spacing: 45px;
    position: relative;
}.hederCaption :first-child:before {
    content: '6040';
    color: #f4cf8b;
    top: 40px;
    right: 0;
    left: 20px;
    letter-spacing: 65px;
    font-size: .7em;
    position: absolute;
}

.hederCaption :nth-child(2) {
    font-family: Ubuntu-Bold;
    color: #acabab;
    letter-spacing: .4px;
    opacity: .7;
}

.hederCaption :nth-child(3) {
    text-transform: uppercase;
    font-family: 'AireRomanPro';
    font-size: 9.5em;
    color: #000;
    letter-spacing: 40px;
    position: relative;
    line-height: 140px;
    opacity: .6;
}
.hederCaption :nth-child(3):before {
    content: 'vaperoom';
    top: 30px;
    left: 20px;
    opacity: 1 !important;
    color: #f4cf8b;
    right: 0;
    bottom: 0;
    letter-spacing: 65px;
    font-size: .67em;
    opacity: .9;
    line-height: 100px;
    position: absolute;
}

.sectionTwo {
    background-image: url(../img/bg_section2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.activeBorderTwo:before {
    content: 'Преимущества';
    font-family: 'Ubuntu-Medium';
    position: absolute;
    color: #fff;
    top: 20px;
    transform: translate(-50%);
    left: 50%;}

.marB {
    margin-bottom: 20px;
}

.wrapper_blockItemOne {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
}

.blockItem {
    font-family: Ubuntu-Bold;
    border: 12px solid rgba(172,171,171, 0.7);
    height: 10em;
    width: 10em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    flex-direction: column;
}

.wrapper_BlockItems {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.blockItem :first-child{
    color: #f4cf8b;
    font-size: 1.8em;
    margin: 10px 0 5px 12px;
    letter-spacing: .5px;
}.blockItem :last-child {
    color: #fff;
    opacity: .8;
    position: absolute;
    left: 45px;
    letter-spacing: .1px;
    top: 30%;
}.barmanThree {width: 140px;}

.bestwater {
    width: 170px;
}

.beetwen-textSectionTwo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 70px auto 110px;
    width: 89%;
    justify-content: center;
    font-family: AireRomanPro;
    font-size: 6em;
    color: #fff;
    opacity: .8;
    letter-spacing: 30px;
    
}.beetwen-textSectionTwo p {line-height: 0;}.barmanOne {width: 100%;}

.sectionThree {
    background: #ededed;
}

.wrap_all {
    margin: 40px;
    height: 91%;
    background: #fff;
}

.wrapper__all {
    padding: 10px 0;
}.time{
    font-family: AireRomanPro;
    font-size: 5em;
    letter-spacing: 20px;
    line-height: 90px;    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header_sectionThree {margin: 40px 41px;padding: 40px 0;width: 64%;justify-content: space-between;}

.sectionSix {
    background: #ededed;
}

.wrapSectionSix {
    background: #fff;
    width: 95%;
    height: 90%;
    margin: auto;
}

.activeBorderThree:before {
    content: 'Команда';
    font-family: 'Ubuntu-Medium';
    position: absolute;
    color: #000;
    top: 40px;
    transform: translate(-50%);
    left: 50%;
}

.slick-btn {
    font-size: 1em !important;
    font-family: Ubuntu-Medium;
    color: #000 !important;
}

.sl_left {
    margin-right: 20px;
}.sl_right {
    margin-left: 20px;    
}

.sl_image {
    background-image: url(../img/bg_section3.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 930px !important;
    position: relative;
    height: 516px !important;
}

.sl_image :first-child {
    position: absolute;
    bottom: 52%;
    width: 394px;
    right: 30px;   
    z-index: 100;
    color: #fff;
    font-family: Ubuntu-Lightitalic;
    line-height: 22px;
    letter-spacing: .3px;
}

.sl_image :last-child {
    position: absolute;
    bottom: 34%;
    width: 153px;
    right: 30px;   
    text-align: right;
    z-index: 100;
    color: #f4cf8b;
    font-family: Ubuntu-Regular;
    line-height: 20px;
    letter-spacing: .3px;
}

.wrapper__slideFo {
    max-width: 930px;
    margin: 2% auto 0;
}

.wrapSectionFour {
    border: 5px solid #fff;
    height: 91%;
    width: 94.5%;
    margin: 40px auto;
}

.sectionFour {
    background-image: url(../img/bg_section2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sectionFourtextCenter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 10% auto 0;
}

.sectionFourtextCenter p {
    font-family: AireRomanPro;
    font-size: 5em;
    width: 370px;
    line-height: 75px;
    color: #fff;
    letter-spacing: 25px;
    opacity: .8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.activeBorderFour:before {
    content: 'Парите с нами';
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu-Medium';
    position: absolute;
    color: #fff;
    top: 55px;
    transform: translate(-50%);
    left: 50%;
}

.sectionFive {
    background: #000;
}

.wrapSecFive {
    padding: 30px 0;
    margin: 40px;
    height: 91%;
    background: #181818;
}

.wrapper_sectionFive {
    width: 63%;
    margin: 0 41px 0;
    justify-content: space-between;
}

.activeBorderFive:before {
    content: 'Уютная атмосфера';
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu-Medium';
    position: absolute;
    color: #fff;
    top: 70px;
    transform: translate(-50%);
    left: 50%;
}

.textContainerFive p{
    width: 350px;
    font-family: AireRomanPro;
    font-size: 5em;
    line-height: 90px;
    color: #f4cf8b;
    letter-spacing: 20px;
}

.wrapper__ItemsIMG {
    position: relative;
    top: -30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 1105px;
}

.wrap_bg {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.itemOneBG {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.itemOneBG img:last-child {
    position: absolute;
    right: -202px;
    top: 60px;
    bottom: 0;
}

.header_sectionTime {
    margin: 0 41px !important;padding: 20px 0;
}

.itemTwoBG {
    z-index: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
}

.activeBorderSix:before {
    content: 'Vip линейка';
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu-Medium';
    position: absolute;
    color: #000;
    top: 90px;
    transform: translate(-50%);
    left: 50%;
}

.activeBorderSix {background: #000;}







.wrapper__slideradius {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 51.5%;
    margin: 150px auto 0;
    position: relative;
    height: 30%;
}

.itemsRadius {
    transition: .4s;
    border: 60px solid #f4cf8b;
    position: relative;
    border-radius: 50%;
    margin: 10px 0;
    height: 80px;
    width: 80px;
    transform: scale(.8);
}

.activeCircle a {
    cursor: pointer;
}

.center {
    transition: .5s;
    transform: scale(1.3) !important;
}

.center>.itemsRadius {
    border: 60px solid #fb4e4e;
}

.controls {
    font-family: Ubuntu-Regular;
}

#right {
    width: 300%;
    position: absolute;
    top: 60%;
    left: 104.5%;
}#right img{
    margin: 0 20px 0 20px;
}

#left {
    position: absolute;
    right: 100%;
    top: 60%;
    width: 25%;
}#left img {
    margin: 0 20px 0 20px;
}

.itemsRadius img {
    position: absolute;
    top: -90px;
    right: -65px;
    width: 193px !important;
    height: 257px !important;
}

.owl-car {
    width: 100%;
}






.contact_t {
    font-family: AireRomanPro;
    font-size: 5em;
    letter-spacing: 20px;
    line-height: 90px;
}

.header_sectionSeven {
    margin: 40px 40px;
    padding-top: 30px;
    justify-content: space-between;
    width: 62.5%;
}

.sectionSeven {
    background: #ededed;
}

.wrap_containerMap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 60px auto 0;
}

.borderItemLeft, .borderItemRight {
    border: 2px solid #cccccc;
    font-family: Ubuntu-Bold;
    width: 190px;
    height: 190px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    letter-spacing: .3px;
    align-self: center;
}

.borderItemLeft p, .borderItemRight p{
    width: 220px;
    line-height: 22px;
    align-self: center;
    position: absolute;
    left: 50%;
}

.wrapSectionSeven {
    background: #fff;
    margin: 40px;
    height: 91%;
}

.mainMap img {
    transition: .5s;
    cursor: pointer;
}.mainMap img:hover {
    opacity: .97;
}


@media only screen  and (min-width: 1910px) {
    .sectionFourtextCenter p {
        font-size: 8em;    
        width: 510px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 110px;
        letter-spacing: 25px;
        color: #fff;
    }
    .textContainerFive p {
        font-size: 7em;
        width: 435px;
        line-height: 100px;
    }
    .wrapper__ItemsIMG {
        width: 74%;
    }
    .itemOneBG img:first-child{
        width: 250px;
        height: 250px;
    }
    .itemOneBG img:nth-child(2){
        width: 250px;
        height: 250px;
    }
    .itemOneBG img:nth-child(3){
        width: 700px;
        right: -250px;
    }
    .itemTwoBG img:first-child {
        width: 250px;
    }
    .itemTwoBG img:last-child {
        width: 700px;
    }
    .wrapSecFive {
        height: 86%;
    }
    .header_sectionSeven {
        width: 61%;
    }

}


@media only screen  and (max-width: 1450px) {
    .textContainerFive p, .sectionFourtextCenter p {
        line-height: 70px;
        font-size: 4.2em;
    }
    .hederCaption :nth-child(3):before {
        left: 41px;
        line-height: 67px;
        right: 25px;
        letter-spacing: 59px;
        top: 40px;
    }
    .wrapper__slideradius {
        width: 53.5%;
    }
    .wrapper_sectionFive {
        margin: 14px 48px 0;
    }
    .sectionOne {
        background-position: 0 0;
    }
    .wrapBorderAlls {
        height: 93%;
        margin: 28px auto;
    }
    .wrapper__header, .wrapper_sectionTwo  {
        width: 91.5%;
        margin: 50px auto 0;
    }
    .hederCaption :first-child:before {
        left: 20px;
        top: 23px;
        letter-spacing: 58px;
    }
    .wrapper__slideFo {    
        max-width: 680px;
        margin: 5% auto 0;
    }
    .wrapSecFive {
        height: 89.5%;    
    }
    .header_sectionSeven {
        width: 64%;  
        margin: 40px 43px;
        padding-top: 43px;
    }
    .sl_image :first-child {
        font-size: .86em;
        width: 52%;
        line-height: 20px;
    }
    .borderItemLeft p, .borderItemRight p {
        font-size: .9em;
    }
    .wrapper__ItemsIMG {
        width: 82%;
    }
    .hederCaption :first-child {
        font-size: 5em;    
    }
    .hederCaption :nth-child(3) {
        font-size: 7em;
    }
    .logo img {
        max-width: 160px;
        max-height: 48px;
    }
    .wrapper_blockItemOne {
        width: 450px;
    }
    .blockItem {
        height: 8em;
        width: 8em;
    }
    .beetwen-textSectionTwo {
        font-size: 4em;
        margin: 60px auto 80px;
    }
    .time {
        font-size: 4.2em;
        line-height: 70px;
    }
    .header_sectionTime {
        margin: 14px 48px !important;
    }
    .itemOneBG img:first-child{
        width: 160px;
        height: 160px;
    }
    .wrapSectionSeven {
        height: 90%;
    }
    .wrapSectionFour {
        height: 92%;
        margin: 30px auto;
    }
    .itemOneBG img:nth-child(2){
        width: 160px;
        height: 160px;
    }
    .itemOneBG img:nth-child(3){
        width: 450px;
        right: -160px;
    }
    .itemTwoBG img:first-child {
        width: 160px;
    }
    .itemTwoBG img:last-child {
        width: 450px;
    }
    .mainMap img {
        width: 320px;
    }
    .borderItemLeft, .borderItemRight {
        width: 160px;
        height: 160px;
        letter-spacing: 0;
    }
    .contact_t {
        font-size: 4em;
    }
    .sl_image {
    background-size: cover;
    max-width: 680px !important;
    height: 400px !important;}
}

.mainMap img {
    box-shadow: 0 0 80px rgba(0,0,0,0.29);
}







